# Session - 1

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 60.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=98ca100d44e19afc872ab2e1d3b62ff42f8d5af9d1eefc132ec9ff31745a867b
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [3]:
import pandas as pd

In [ ]:
df= pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Pyspark_practise').getOrCreate()

In [ ]:
spark

In [ ]:
dfpy = spark.read.csv('/content/sample_data/california_housing_train.csv')

In [ ]:
dfpy.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|        _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
dfpy = spark.read.option('header', 'true').csv('/content/sample_data/california_housing_train.csv')

In [ ]:
dfpy

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [ ]:
dfpy.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
type(dfpy)

pyspark.sql.dataframe.DataFrame

In [ ]:
dfpy.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
dfpy.head(5)

[Row(longitude='-114.310000', latitude='34.190000', housing_median_age='15.000000', total_rooms='5612.000000', total_bedrooms='1283.000000', population='1015.000000', households='472.000000', median_income='1.493600', median_house_value='66900.000000'),
 Row(longitude='-114.470000', latitude='34.400000', housing_median_age='19.000000', total_rooms='7650.000000', total_bedrooms='1901.000000', population='1129.000000', households='463.000000', median_income='1.820000', median_house_value='80100.000000'),
 Row(longitude='-114.560000', latitude='33.690000', housing_median_age='17.000000', total_rooms='720.000000', total_bedrooms='174.000000', population='333.000000', households='117.000000', median_income='1.650900', median_house_value='85700.000000'),
 Row(longitude='-114.570000', latitude='33.640000', housing_median_age='14.000000', total_rooms='1501.000000', total_bedrooms='337.000000', population='515.000000', households='226.000000', median_income='3.191700', median_house_value='73400.000000'),
 Row(longitude='-114.570000', latitude='33.570000', housing_median_age='20.000000', total_rooms='1454.000000', total_bedrooms='326.000000', population='624.000000', households='262.000000', median_income='1.925000', median_house_value='65500.000000')]

# Session - 2

    PySpark Dataframe
    Reading The Dataset
    Checking the Datatypes of the Column(Schema)
    Selecting Columns And Indexing
    Check Describe option similar to Pandas
    Adding Columns
    Dropping columns
    Renaming Columns

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark1 = SparkSession.builder.appName('trial').getOrCreate()

In [ ]:
spark1

In [ ]:
df = spark.read.option('header', 'True').csv('/content/sample_data/california_housing_test.csv', inferSchema = True)

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_train.csv', header = True, inferSchema = True)

In [ ]:
# rdd = sc.textFile('/content/sample_data/california_housing_train.csv')

In [ ]:
# df3 = spark.read.csv(rdd)

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df.select('median_income')

DataFrame[median_income: double]

In [ ]:
df.select('median_income').show(5)

+-------------+
|median_income|
+-------------+
|       1.4936|
|         1.82|
|       1.6509|
|       3.1917|
|        1.925|
+-------------+
only showing top 5 rows

In [ ]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [ ]:
df.select(['households', 'median_income', 'median_house_value']).show(5)

+----------+-------------+------------------+
|households|median_income|median_house_value|
+----------+-------------+------------------+
|     472.0|       1.4936|           66900.0|
|     463.0|         1.82|           80100.0|
|     117.0|       1.6509|           85700.0|
|     226.0|       3.1917|           73400.0|
|     262.0|        1.925|           65500.0|
+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
# In Pyspark This only return a column object. Can't show or see values
df['longitude']

Column<'longitude'>

In [ ]:
df.describe()

DataFrame[summary: string, longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [ ]:
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [ ]:
# adding column to the dataframe

df.withColumn('income_by_value', df['median_income']/df['median_house_value']).show(1)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|     income_by_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|2.232585949177877...|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 1 row

In [ ]:
# no change in original df
df.show(1)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 1 row

In [ ]:
# therefore reassigning is needed

df = df.withColumn('income_by_value', df['median_income']/df['median_house_value'])

In [ ]:
df.show(1)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|     income_by_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|2.232585949177877...|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 1 row

In [ ]:
# dropping the column

df = df.drop('income_by_value')

In [ ]:
df.show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [ ]:
# renaming the column

df = df.withColumnRenamed('longitude', 'long')

In [ ]:
df.show(1)

+-------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|   long|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+-------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|-114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
+-------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 1 row

In [ ]:
df.withColumnRenamed('latitude', 'lati').collect()

[Row(long=-114.31, lati=34.19, housing_median_age=15.0, total_rooms=5612.0, total_bedrooms=1283.0, population=1015.0, households=472.0, median_income=1.4936, median_house_value=66900.0),
 Row(long=-114.47, lati=34.4, housing_median_age=19.0, total_rooms=7650.0, total_bedrooms=1901.0, population=1129.0, households=463.0, median_income=1.82, median_house_value=80100.0),
 Row(long=-114.56, lati=33.69, housing_median_age=17.0, total_rooms=720.0, total_bedrooms=174.0, population=333.0, households=117.0, median_income=1.6509, median_house_value=85700.0),
 Row(long=-114.57, lati=33.64, housing_median_age=14.0, total_rooms=1501.0, total_bedrooms=337.0, population=515.0, households=226.0, median_income=3.1917, median_house_value=73400.0),
 Row(long=-114.57, lati=33.57, housing_median_age=20.0, total_rooms=1454.0, total_bedrooms=326.0, population=624.0, households=262.0, median_income=1.925, median_house_value=65500.0),
 Row(long=-114.58, lati=33.63, housing_median_age=29.0, total_rooms=1387.0, total_bedrooms=236.0, population=671.0, households=239.0, median_income=3.3438, median_house_value=74000.0),
 Row(long=-114.58, lati=33.61, housing_median_age=25.0, total_rooms=2907.0, total_bedrooms=680.0, population=1841.0, households=633.0, median_income=2.6768, median_house_value=82400.0),
 Row(long=-114.59, lati=34.83, housing_median_age=41.0, total_rooms=812.0, total_bedrooms=168.0, population=375.0, households=158.0, median_income=1.7083, median_house_value=48500.0),
 Row(long=-114.59, lati=33.61, housing_median_age=34.0, total_rooms=4789.0, total_bedrooms=1175.0, population=3134.0, households=1056.0, median_income=2.1782, median_house_value=58400.0),
 Row(long=-114.6, lati=34.83, housing_median_age=46.0, total_rooms=1497.0, total_bedrooms=309.0, population=787.0, households=271.0, median_income=2.1908, median_house_value=48100.0),
 Row(long=-114.6, lati=33.62, housing_median_age=16.0, total_rooms=3741.0, total_bedrooms=801.0, population=2434.0, households=824.0, median_income=2.6797, median_house_value=86500.0),
 Row(long=-114.6, lati=33.6, housing_median_age=21.0, total_rooms=1988.0, total_bedrooms=483.0, population=1182.0, households=437.0, median_income=1.625, median_house_value=62000.0),
 Row(long=-114.61, lati=34.84, housing_median_age=48.0, total_rooms=1291.0, total_bedrooms=248.0, population=580.0, households=211.0, median_income=2.1571, median_house_value=48600.0),
 Row(long=-114.61, lati=34.83, housing_median_age=31.0, total_rooms=2478.0, total_bedrooms=464.0, population=1346.0, households=479.0, median_income=3.212, median_house_value=70400.0),
 Row(long=-114.63, lati=32.76, housing_median_age=15.0, total_rooms=1448.0, total_bedrooms=378.0, population=949.0, households=300.0, median_income=0.8585, median_house_value=45000.0),
 Row(long=-114.65, lati=34.89, housing_median_age=17.0, total_rooms=2556.0, total_bedrooms=587.0, population=1005.0, households=401.0, median_income=1.6991, median_house_value=69100.0),
 Row(long=-114.65, lati=33.6, housing_median_age=28.0, total_rooms=1678.0, total_bedrooms=322.0, population=666.0, households=256.0, median_income=2.9653, median_house_value=94900.0),
 Row(long=-114.65, lati=32.79, housing_median_age=21.0, total_rooms=44.0, total_bedrooms=33.0, population=64.0, households=27.0, median_income=0.8571, median_house_value=25000.0),
 Row(long=-114.66, lati=32.74, housing_median_age=17.0, total_rooms=1388.0, total_bedrooms=386.0, population=775.0, households=320.0, median_income=1.2049, median_house_value=44000.0),
 Row(long=-114.67, lati=33.92, housing_median_age=17.0, total_rooms=97.0, total_bedrooms=24.0, population=29.0, households=15.0, median_income=1.2656, median_house_value=27500.0),
 Row(long=-114.68, lati=33.49, housing_median_age=20.0, total_rooms=1491.0, total_bedrooms=360.0, population=1135.0, households=303.0, median_income=1.6395, median_house_value=44400.0),
 Row(long=-114.73, lati=33.43, housing_median_age=24.0, total_rooms=796.0, total_bedrooms=243.0, population=227.0, households=139.0, median_income=0.8964, median_house_value=59200.0),
 Row(long=-114.94, lati=34.55, housing_median_age=20.0, total_rooms=350.0, total_bedrooms=95.0, population=119.0, households=58.0, median_income=1.625, median_house_value=50000.0),
 Row(long=-114.98, lati=33.82, housing_median_age=15.0, total_rooms=644.0, total_bedrooms=129.0, population=137.0, households=52.0, median_income=3.2097, median_house_value=71300.0),
 Row(long=-115.22, lati=33.54, housing_median_age=18.0, total_rooms=1706.0, total_bedrooms=397.0, population=3424.0, households=283.0, median_income=1.625, median_house_value=53500.0),
 Row(long=-115.32, lati=32.82, housing_median_age=34.0, total_rooms=591.0, total_bedrooms=139.0, population=327.0, households=89.0, median_income=3.6528, median_house_value=100000.0),
 Row(long=-115.37, lati=32.82, housing_median_age=30.0, total_rooms=1602.0, total_bedrooms=322.0, population=1130.0, households=335.0, median_income=3.5735, median_house_value=71100.0),
 Row(long=-115.37, lati=32.82, housing_median_age=14.0, total_rooms=1276.0, total_bedrooms=270.0, population=867.0, households=261.0, median_income=1.9375, median_house_value=80900.0),
 Row(long=-115.37, lati=32.81, housing_median_age=32.0, total_rooms=741.0, total_bedrooms=191.0, population=623.0, households=169.0, median_income=1.7604, median_house_value=68600.0),
 Row(long=-115.37, lati=32.81, housing_median_age=23.0, total_rooms=1458.0, total_bedrooms=294.0, population=866.0, households=275.0, median_income=2.3594, median_house_value=74300.0),
 Row(long=-115.38, lati=32.82, housing_median_age=38.0, total_rooms=1892.0, total_bedrooms=394.0, population=1175.0, households=374.0, median_income=1.9939, median_house_value=65800.0),
 Row(long=-115.38, lati=32.81, housing_median_age=35.0, total_rooms=1263.0, total_bedrooms=262.0, population=950.0, households=241.0, median_income=1.8958, median_house_value=67500.0),
 Row(long=-115.39, lati=32.76, housing_median_age=16.0, total_rooms=1136.0, total_bedrooms=196.0, population=481.0, households=185.0, median_income=6.2558, median_house_value=146300.0),
 Row(long=-115.4, lati=32.86, housing_median_age=19.0, total_rooms=1087.0, total_bedrooms=171.0, population=649.0, households=173.0, median_income=3.3182, median_house_value=113800.0),
 Row(long=-115.4, lati=32.7, housing_median_age=19.0, total_rooms=583.0, total_bedrooms=113.0, population=531.0, households=134.0, median_income=1.6838, median_house_value=95800.0),
 Row(long=-115.41, lati=32.99, housing_median_age=29.0, total_rooms=1141.0, total_bedrooms=220.0, population=684.0, households=194.0, median_income=3.4038, median_house_value=107800.0),
 Row(long=-115.46, lati=33.19, housing_median_age=33.0, total_rooms=1234.0, total_bedrooms=373.0, population=777.0, households=298.0, median_income=1.0, median_house_value=40000.0),
 Row(long=-115.48, lati=32.8, housing_median_age=21.0, total_rooms=1260.0, total_bedrooms=246.0, population=805.0, households=239.0, median_income=2.6172, median_house_value=88500.0),
 Row(long=-115.48, lati=32.68, housing_median_age=15.0, total_rooms=3414.0, total_bedrooms=666.0, population=2097.0, households=622.0, median_income=2.3319, median_house_value=91200.0),
 Row(long=-115.49, lati=32.87, housing_median_age=19.0, total_rooms=541.0, total_bedrooms=104.0, population=457.0, households=106.0, median_income=3.3583, median_house_value=102800.0),
 Row(long=-115.49, lati=32.69, housing_median_age=17.0, total_rooms=1960.0, total_bedrooms=389.0, population=1691.0, households=356.0, median_income=1.899, median_house_value=64000.0),
 Row(long=-115.49, lati=32.67, housing_median_age=29.0, total_rooms=1523.0, total_bedrooms=440.0, population=1302.0, households=393.0, median_income=1.1311, median_house_value=84700.0),
 Row(long=-115.49, lati=32.67, housing_median_age=25.0, total_rooms=2322.0, total_bedrooms=573.0, population=2185.0, households=602.0, median_income=1.375, median_house_value=70100.0),
 Row(long=-115.5, lati=32.75, housing_median_age=13.0, total_rooms=330.0, total_bedrooms=72.0, population=822.0, households=64.0, median_income=3.4107, median_house_value=142500.0),
 Row(long=-115.5, lati=32.68, housing_median_age=18.0, total_rooms=3631.0, total_bedrooms=913.0, population=3565.0, households=924.0, median_income=1.5931, median_house_value=88400.0),
 Row(long=-115.5, lati=32.67, housing_median_age=35.0, total_rooms=2159.0, total_bedrooms=492.0, population=1694.0, households=475.0, median_income=2.1776, median_house_value=75500.0),
 Row(long=-115.51, lati=33.24, housing_median_age=32.0, total_rooms=1995.0, total_bedrooms=523.0, population=1069.0, households=410.0, median_income=1.6552, median_house_value=43300.0),
 Row(long=-115.51, lati=33.12, housing_median_age=21.0, total_rooms=1024.0, total_bedrooms=218.0, population=890.0, households=232.0, median_income=2.101, median_house_value=46700.0),
 Row(long=-115.51, lati=32.99, housing_median_age=20.0, total_rooms=1402.0, total_bedrooms=287.0, population=1104.0, households=317.0, median_income=1.9088, median_house_value=63700.0),
 Row(long=-115.51, lati=32.68, housing_median_age=11.0, total_rooms=2872.0, total_bedrooms=610.0, population=2644.0, households=581.0, median_income=2.625, median_house_value=72700.0),
 Row(long=-115.52, lati=34.22, housing_median_age=30.0, total_rooms=540.0, total_bedrooms=136.0, population=122.0, households=63.0, median_income=1.3333, median_house_value=42500.0),
 Row(long=-115.52, lati=33.13, housing_median_age=18.0, total_rooms=1109.0, total_bedrooms=283.0, population=1006.0, households=253.0, median_income=2.163, median_house_value=53400.0),
 Row(long=-115.52, lati=33.12, housing_median_age=38.0, total_rooms=1327.0, total_bedrooms=262.0, population=784.0, households=231.0, median_income=1.8793, median_house_value=60800.0),
 Row(long=-115.52, lati=32.98, housing_median_age=32.0, total_rooms=1615.0, total_bedrooms=382.0, population=1307.0, households=345.0, median_income=1.4583, median_house_value=58600.0),
 Row(long=-115.52, lati=32.97, housing_median_age=24.0, total_rooms=1617.0, total_bedrooms=366.0, population=1416.0, households=401.0, median_income=1.975, median_house_value=66400.0),
 Row(long=-115.52, lati=32.97, housing_median_age=10.0, total_rooms=1879.0, total_bedrooms=387.0, population=1376.0, households=337.0, median_income=1.9911, median_house_value=67500.0),
 Row(long=-115.52, lati=32.77, housing_median_age=18.0, total_rooms=1715.0, total_bedrooms=337.0, population=1166.0, households=333.0, median_income=2.2417, median_house_value=79200.0),
 Row(long=-115.52, lati=32.73, housing_median_age=17.0, total_rooms=1190.0, total_bedrooms=275.0, population=1113.0, households=258.0, median_income=2.3571, median_house_value=63100.0),
 Row(long=-115.52, lati=32.67, housing_median_age=6.0, total_rooms=2804.0, total_bedrooms=581.0, population=2807.0, households=594.0, median_income=2.0625, median_house_value=67700.0),
 Row(long=-115.53, lati=34.91, housing_median_age=12.0, total_rooms=807.0, total_bedrooms=199.0, population=246.0, households=102.0, median_income=2.5391, median_house_value=40000.0),
 Row(long=-115.53, lati=32.99, housing_median_age=25.0, total_rooms=2578.0, total_bedrooms=634.0, population=2082.0, households=565.0, median_income=1.7159, median_house_value=62200.0),
 Row(long=-115.53, lati=32.97, housing_median_age=35.0, total_rooms=1583.0, total_bedrooms=340.0, population=933.0, households=318.0, median_income=2.4063, median_house_value=70700.0),
 Row(long=-115.53, lati=32.97, housing_median_age=34.0, total_rooms=2231.0, total_bedrooms=545.0, population=1568.0, households=510.0, median_income=1.5217, median_house_value=60300.0),
 Row(long=-115.53, lati=32.73, housing_median_age=14.0, total_rooms=1527.0, total_bedrooms=325.0, population=1453.0, households=332.0, median_income=1.735, median_house_value=61200.0),
 Row(long=-115.54, lati=32.99, housing_median_age=23.0, total_rooms=1459.0, total_bedrooms=373.0, population=1148.0, households=388.0, median_income=1.5372, median_house_value=69400.0),
 Row(long=-115.54, lati=32.99, housing_median_age=17.0, total_rooms=1697.0, total_bedrooms=268.0, population=911.0, households=254.0, median_income=4.3523, median_house_value=96000.0),
 Row(long=-115.54, lati=32.98, housing_median_age=27.0, total_rooms=1513.0, total_bedrooms=395.0, population=1121.0, households=381.0, median_income=1.9464, median_house_value=60600.0),
 Row(long=-115.54, lati=32.97, housing_median_age=41.0, total_rooms=2429.0, total_bedrooms=454.0, population=1188.0, households=430.0, median_income=3.0091, median_house_value=70800.0),
 Row(long=-115.54, lati=32.79, housing_median_age=23.0, total_rooms=1712.0, total_bedrooms=403.0, population=1370.0, households=377.0, median_income=1.275, median_house_value=60400.0),
 Row(long=-115.55, lati=32.98, housing_median_age=33.0, total_rooms=2266.0, total_bedrooms=365.0, population=952.0, households=360.0, median_income=5.4349, median_house_value=143000.0),
 Row(long=-115.55, lati=32.98, housing_median_age=24.0, total_rooms=2565.0, total_bedrooms=530.0, population=1447.0, households=473.0, median_income=3.2593, median_house_value=80800.0),
 Row(long=-115.55, lati=32.82, housing_median_age=34.0, total_rooms=1540.0, total_bedrooms=316.0, population=1013.0, households=274.0, median_income=2.5664, median_house_value=67500.0),
 Row(long=-115.55, lati=32.8, housing_median_age=23.0, total_rooms=666.0, total_bedrooms=142.0, population=580.0, households=160.0, median_income=2.1136, median_house_value=61000.0),
 Row(long=-115.55, lati=32.79, housing_median_age=23.0, total_rooms=1004.0, total_bedrooms=221.0, population=697.0, households=201.0, median_income=1.6351, median_house_value=59600.0),
 Row(long=-115.55, lati=32.79, housing_median_age=22.0, total_rooms=565.0, total_bedrooms=162.0, population=692.0, households=141.0, median_income=1.2083, median_house_value=53600.0),
 Row(long=-115.55, lati=32.78, housing_median_age=5.0, total_rooms=2652.0, total_bedrooms=606.0, population=1767.0, households=536.0, median_income=2.8025, median_house_value=84300.0),
 Row(long=-115.56, lati=32.96, housing_median_age=21.0, total_rooms=2164.0, total_bedrooms=480.0, population=1164.0, households=421.0, median_income=3.8177, median_house_value=107200.0),
 Row(long=-115.56, lati=32.8, housing_median_age=28.0, total_rooms=1672.0, total_bedrooms=416.0, population=1335.0, households=397.0, median_income=1.5987, median_house_value=59400.0),
 Row(long=-115.56, lati=32.8, housing_median_age=25.0, total_rooms=1311.0, total_bedrooms=375.0, population=1193.0, households=351.0, median_income=2.1979, median_house_value=63900.0),
 Row(long=-115.56, lati=32.8, housing_median_age=15.0, total_rooms=1171.0, total_bedrooms=328.0, population=1024.0, households=298.0, median_income=1.3882, median_house_value=69400.0),
 Row(long=-115.56, lati=32.79, housing_median_age=20.0, total_rooms=2372.0, total_bedrooms=835.0, population=2283.0, households=767.0, median_income=1.1707, median_house_value=62500.0),
 Row(long=-115.56, lati=32.79, housing_median_age=18.0, total_rooms=1178.0, total_bedrooms=438.0, population=1377.0, households=429.0, median_income=1.3373, median_house_value=58300.0),
 Row(long=-115.56, lati=32.78, housing_median_age=46.0, total_rooms=2511.0, total_bedrooms=490.0, population=1583.0, households=469.0, median_income=3.0603, median_house_value=70800.0),
 Row(long=-115.56, lati=32.78, housing_median_age=35.0, total_rooms=1185.0, total_bedrooms=202.0, population=615.0, households=191.0, median_income=4.6154, median_house_value=86200.0),
 Row(long=-115.56, lati=32.78, housing_median_age=29.0, total_rooms=1568.0, total_bedrooms=283.0, population=848.0, households=245.0, median_income=3.1597, median_house_value=76200.0),
 Row(long=-115.56, lati=32.76, housing_median_age=15.0, total_rooms=1278.0, total_bedrooms=217.0, population=653.0, households=185.0, median_income=4.4821, median_house_value=140300.0),
 Row(long=-115.57, lati=32.85, housing_median_age=33.0, total_rooms=1365.0, total_bedrooms=269.0, population=825.0, households=250.0, median_income=3.2396, median_house_value=62300.0),
 Row(long=-115.57, lati=32.85, housing_median_age=17.0, total_rooms=1039.0, total_bedrooms=256.0, population=728.0, households=246.0, median_income=1.7411, median_house_value=63500.0),
 Row(long=-115.57, lati=32.84, housing_median_age=29.0, total_rooms=1207.0, total_bedrooms=301.0, population=804.0, households=288.0, median_income=1.9531, median_house_value=61100.0),
 Row(long=-115.57, lati=32.83, housing_median_age=31.0, total_rooms=1494.0, total_bedrooms=289.0, population=959.0, households=284.0, median_income=3.5282, median_house_value=67500.0),
 Row(long=-115.57, lati=32.8, housing_median_age=16.0, total_rooms=2276.0, total_bedrooms=594.0, population=1184.0, households=513.0, median_income=1.875, median_house_value=93800.0),
 Row(long=-115.57, lati=32.79, housing_median_age=34.0, total_rooms=1152.0, total_bedrooms=208.0, population=621.0, households=208.0, median_income=3.6042, median_house_value=73600.0),
 Row(long=-115.57, lati=32.78, housing_median_age=20.0, total_rooms=1534.0, total_bedrooms=235.0, population=871.0, households=222.0, median_income=6.2715, median_house_value=97200.0),
 Row(long=-115.57, lati=32.78, housing_median_age=15.0, total_rooms=1413.0, total_bedrooms=279.0, population=803.0, households=277.0, median_income=4.3021, median_house_value=87500.0),
 Row(long=-115.58, lati=33.88, housing_median_age=21.0, total_rooms=1161.0, total_bedrooms=282.0, population=724.0, households=186.0, median_income=3.1827, median_house_value=71700.0),
 Row(long=-115.58, lati=32.81, housing_median_age=5.0, total_rooms=805.0, total_bedrooms=143.0, population=458.0, households=143.0, median_income=4.475, median_house_value=96300.0),
 Row(long=-115.58, lati=32.81, housing_median_age=10.0, total_rooms=1088.0, total_bedrooms=203.0, population=533.0, households=201.0, median_income=3.6597, median_house_value=87500.0),
 Row(long=-115.58, lati=32.79, housing_median_age=14.0, total_rooms=1687.0, total_bedrooms=507.0, population=762.0, households=451.0, median_income=1.6635, median_house_value=64400.0),
 Row(long=-115.58, lati=32.78, housing_median_age=5.0, total_rooms=2494.0, total_bedrooms=414.0, population=1416.0, households=421.0, median_income=5.7843, median_house_value=110100.0),
 Row(long=-115.59, lati=32.85, housing_median_age=20.0, total_rooms=1608.0, total_bedrooms=274.0, population=862.0, households=248.0, median_income=4.875, median_house_value=90800.0),
 Row(long=-115.59, lati=32.79, housing_median_age=8.0, total_rooms=2183.0, total_bedrooms=307.0, population=1000.0, households=287.0, median_income=6.3814, median_house_value=159900.0),
 Row(long=-115.59, lati=32.69, housing_median_age=30.0, total_rooms=935.0, total_bedrooms=177.0, population=649.0, households=148.0, median_income=2.5769, median_house_value=94400.0),
 Row(long=-115.6, lati=33.2, housing_median_age=37.0, total_rooms=709.0, total_bedrooms=187.0, population=390.0, households=142.0, median_income=2.4511, median_house_value=72500.0),
 Row(long=-115.6, lati=32.87, housing_median_age=3.0, total_rooms=1629.0, total_bedrooms=317.0, population=1005.0, households=312.0, median_income=4.1293, median_house_value=83200.0),
 Row(long=-115.62, lati=33.04, housing_median_age=20.0, total_rooms=1121.0, total_bedrooms=244.0, population=766.0, households=230.0, median_income=2.2969, median_house_value=62000.0),
 Row(long=-115.62, lati=33.04, housing_median_age=17.0, total_rooms=1009.0, total_bedrooms=231.0, population=745.0, households=217.0, median_income=2.0463, median_house_value=61200.0),
 Row(long=-115.64, lati=32.8, housing_median_age=23.0, total_rooms=1228.0, total_bedrooms=235.0, population=569.0, households=235.0, median_income=3.1667, median_house_value=125000.0),
 Row(long=-115.69, lati=32.79, housing_median_age=18.0, total_rooms=1564.0, total_bedrooms=340.0, population=1161.0, households=343.0, median_income=2.1792, median_house_value=55200.0),

# Session 3

In [4]:
# from pyspark.sql import SparkSession

from pyspark.sql import SparkSession

In [5]:
# spark = SparkSession.builder.appName('pyspark_practise').getOrCreate()

spark = SparkSession.builder.appName('practise_session').getOrCreate()

In [6]:
df_py = spark.read.csv('/content/sample_data/california_housing_test.csv')

In [8]:
df_py = spark.read.csv('/content/test2.csv')

In [9]:
df_py.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [10]:
df_py = spark.read.csv('/content/test2.csv', header = True, inferSchema = True)

In [11]:
df_py.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
df_py.show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  36|null|  null|
+---------+----+----+------+

In [13]:
# drop the columns

df_py.drop('Age').show()

+---------+----+------+
|     Name| Exp|Salary|
+---------+----+------+
|    Krish|  10| 30000|
|Sudhanshu|   8| 25000|
|    Sunny|   4| 20000|
|     Paul|   3| 20000|
|   Harsha|   1| 15000|
|  Shubham|   2| 18000|
|   Mahesh|null| 40000|
|     null|  10| 38000|
|     null|null|  null|
+---------+----+------+

In [14]:
df_py.show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  36|null|  null|
+---------+----+----+------+

In [ ]:
# drop columns with null values

df_py.na.drop().show()

# df_py.na.drop().show()

+---------+---+---+------+
|     Name|Age|Exp|Salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
+---------+---+---+------+

In [16]:
df_py.na.drop(how = 'any').show()

+---------+---+---+------+
|     Name|Age|Exp|Salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
+---------+---+---+------+

In [17]:
df_py.na.drop(how = 'all').show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  36|null|  null|
+---------+----+----+------+

In [18]:
df_py.na.drop(how = 'any', thresh = 2).show()

# df_py.na.drop(how = 'any', thresh = 2).show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|     null|  34|  10| 38000|
+---------+----+----+------+

In [ ]:
df_py.na.drop(how = 'any', thresh = 3).show()

+---------+---+---+------+
|     Name|Age|Exp|Salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
|     null| 34| 10| 38000|
+---------+---+---+------+

In [ ]:
df_py.na.drop(how = 'any', subset = 'Age').show()

+---------+---+----+------+
|     Name|Age| Exp|Salary|
+---------+---+----+------+
|    Krish| 31|  10| 30000|
|Sudhanshu| 30|   8| 25000|
|    Sunny| 29|   4| 20000|
|     Paul| 24|   3| 20000|
|   Harsha| 21|   1| 15000|
|  Shubham| 23|   2| 18000|
|     null| 34|  10| 38000|
|     null| 36|null|  null|
+---------+---+----+------+

In [ ]:
df_py.na.drop(how = 'any', subset = ['Age', 'Exp']).show()

+---------+---+---+------+
|     Name|Age|Exp|Salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
|     null| 34| 10| 38000|
+---------+---+---+------+

In [ ]:
df_py.na.drop(how = 'any', subset = ['Name', 'Salary']).show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
+---------+----+----+------+

In [19]:
# Filling the missing values

df_py.show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|     null|  34|  10| 38000|
|     null|  36|null|  null|
+---------+----+----+------+

In [22]:
# replacing with string hence not string columns are ignored

df_py.na.fill('not known').show()

+---------+----+----+------+
|     Name| Age| Exp|Salary|
+---------+----+----+------+
|    Krish|  31|  10| 30000|
|Sudhanshu|  30|   8| 25000|
|    Sunny|  29|   4| 20000|
|     Paul|  24|   3| 20000|
|   Harsha|  21|   1| 15000|
|  Shubham|  23|   2| 18000|
|   Mahesh|null|null| 40000|
|not known|  34|  10| 38000|
|not known|  36|null|  null|
+---------+----+----+------+

In [24]:
df_py.na.fill(0, ['Age', 'Exp']).show()

+---------+---+---+------+
|     Name|Age|Exp|Salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
|   Mahesh|  0|  0| 40000|
|     null| 34| 10| 38000|
|     null| 36|  0|  null|
+---------+---+---+------+

In [27]:
df_py.na.fill({'Name': 'missing', 'Age': 0, 'Exp': 0, 'salary': 0}).show()

+---------+---+---+------+
|     Name|Age|Exp|Salary|
+---------+---+---+------+
|    Krish| 31| 10| 30000|
|Sudhanshu| 30|  8| 25000|
|    Sunny| 29|  4| 20000|
|     Paul| 24|  3| 20000|
|   Harsha| 21|  1| 15000|
|  Shubham| 23|  2| 18000|
|   Mahesh|  0|  0| 40000|
|  missing| 34| 10| 38000|
|  missing| 36|  0|     0|
+---------+---+---+------+

In [28]:
from pyspark.ml.feature import Imputer

In [32]:
imputer = Imputer(
    inputCols=['Age', 'Exp', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Exp', 'Salary']]
    ).setStrategy("mean")

In [33]:
imputer.fit(df_py).transform(df_py).show()

+---------+----+----+------+-----------+-----------+--------------+
|     Name| Age| Exp|Salary|Age_imputed|Exp_imputed|Salary_imputed|
+---------+----+----+------+-----------+-----------+--------------+
|    Krish|  31|  10| 30000|         31|         10|         30000|
|Sudhanshu|  30|   8| 25000|         30|          8|         25000|
|    Sunny|  29|   4| 20000|         29|          4|         20000|
|     Paul|  24|   3| 20000|         24|          3|         20000|
|   Harsha|  21|   1| 15000|         21|          1|         15000|
|  Shubham|  23|   2| 18000|         23|          2|         18000|
|   Mahesh|null|null| 40000|         28|          5|         40000|
|     null|  34|  10| 38000|         34|         10|         38000|
|     null|  36|null|  null|         36|          5|         25750|
+---------+----+----+------+-----------+-----------+--------------+

In [59]:
imputer = Imputer(
    inputCols=['Age', 'Exp', 'Salary'], 
    outputCols=['Age1', 'Exp1', 'Salary1'],
    strategy = 'median'
)

In [60]:
model = imputer.fit(df_py)

In [61]:
# imputer.fit(df_py).transform(df_py)

model.transform(df_py)

DataFrame[Name: string, Age: int, Exp: int, Salary: int, Age1: int, Exp1: int, Salary1: int]

In [62]:
model.transform(df_py).show()

+---------+----+----+------+----+----+-------+
|     Name| Age| Exp|Salary|Age1|Exp1|Salary1|
+---------+----+----+------+----+----+-------+
|    Krish|  31|  10| 30000|  31|  10|  30000|
|Sudhanshu|  30|   8| 25000|  30|   8|  25000|
|    Sunny|  29|   4| 20000|  29|   4|  20000|
|     Paul|  24|   3| 20000|  24|   3|  20000|
|   Harsha|  21|   1| 15000|  21|   1|  15000|
|  Shubham|  23|   2| 18000|  23|   2|  18000|
|   Mahesh|null|null| 40000|  29|   4|  40000|
|     null|  34|  10| 38000|  34|  10|  38000|
|     null|  36|null|  null|  36|   4|  20000|
+---------+----+----+------+----+----+-------+